extends base


block content
  main.main
    .forgotPassword-form
      h2.heading-secondary.ma-bt-lg Password retrieval page
      form.form.form--forgotPassword
        .form__group
          label.form__label(for='email') Enter Your Email Address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          button.btn.btn--green.btn--forgot-password Submit